<nb-layout>

  <nb-layout-header fixed>
    <h4>URL Shortener and QR Code Generator</h4>
  </nb-layout-header>

  <nb-layout-column>
    <nb-card>
      <nb-card-header><h5>Shorten an URL</h5></nb-card-header>
      <nb-card-body>
        <input nbInput fullWidth placeholder="Enter URL here" [(ngModel)]="url" (ngModelChange)="update()">
        <div *ngIf="valid" class="d-flex flex-column justify-content-around align-items-center h-90">
          <a [href]="shortenedUrl" target="_blank">{{ shortenedUrl }}</a>
          <img [src]="qrCodeUrl">
        </div>
        <div ></div>
        <div *ngIf="!valid" class="text-muted d-flex justify-content-center align-items-center h-100 error-font">
          Not a valid URL!
        </div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>

  <nb-layout-footer center fixed>
    Made by Debjit Ganguli
  </nb-layout-footer>

</nb-layout>
